.swp
scratch/
tests/

# Prerequisites
*.d

# Headers extracted from class files
*_class.h

# Binary objects
*.o
*.obj
*.so
*.dylib

# C++ compiled headers
*.pch
*.gch

# Java
*.class
*.jar

# Packaged files
*.tar
*.tar.gz
*.zip

# Crash logs
hs_err_pid*

# Built files
build/
bin/

# Logs, notes, trace files
*.log
*.org
*.notes
*.list
trace*
*.trace
*.j